/*shared*/
*{
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.primary-text{
    color: #FD6E0A;
}
/*nav*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 200px;
    padding-top: 5px;
}
.nav-title{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.btn-style{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: var(--White-Color, #FFF);
    font-size: 18px;
    font-weight: 700;
    padding: 15px 25px;
    margin-right: 10px;
}

/* Header style */
.header-container{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
}
.banner-items{
    padding: 30px;
    width: 500px;
}
.banner-items p{
    margin-bottom: 15px;
}
.banner-greeting{
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    margin: 0px;
}
.banner-heading{
    color: var(--Dark-01, #181818);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}
.banner p{
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.banner-propic{
    width: 500px;
}

                        /*main start here*/

/*About Me*/
.about-me{
    border-radius: 10px;
    background: #FFF8F3;
    margin: 120px 170px;
    padding: 155px 130px;
}
.about-heading{
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.about-des{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0px;
}
.about-foot-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}
.about-foot h3{
    color: var(--Dark-02, #474747);
    font-size: 16px;
    font-weight: 700;
}
.about-foot p{
    color: var(--Dark-02, #474747);
    font-size: 16px;
    font-weight: 400;
}


/*My jobs */

.myjob{
    margin: 0px 80px;
    padding: 30px 80px;
}
.myjob-heading{
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}
.myjob-paragraph{
    margin-bottom: 50px;
    padding: 0px 100px;
    text-align: center;
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;  
}
.cart-container{
    display:flex;
    justify-content: space-between;
}
.cart{
    width: 170px;
    height: 270px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.cart h3{
    color: var(--Dark-02, #474747);
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
.cart p{
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
}