/*shared*/
body{
    font-family: 'Open Sans', sans-serif;
}

.primary-text{
    color: #FD6E0A;
}
/*nav*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 200px;
}
.nav-title{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.btn-style{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: var(--White-Color, #FFF);
    font-size: 18px;
    font-weight: 700;
    padding: 15px 25px;
}

/* Header style */
.header-container{
    background: #FFF8F3;
}
.banner{
    display: flex;
    align-items: center;

    padding: 30px 30px 0px 150px;
}
.banner-items{
    padding: 30px;
}
.banner-greeting{
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
}
.banner-heading{
    color: var(--Dark-01, #181818);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
}
.banner p{
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.banner-propic{
    width: 400px;
}